.body {
    background-color: white;
    padding: 0;
    margin: 0;
}
.header{
    position: fixed;
    background-color: antiquewhite;
    height: 110px;
    width: 100%;
    z-index: 5;
}
.top{
    height: 30%;
    width: 100%;
}
.imgtop{
    max-height: 100%;
    width: 100%;
}
.middle{
    height: 30%;
    width: 100%;
    border: 1px solid rgb(207, 207, 207);
    display: flex;
    justify-content: center;
}
.mcenter{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.mclul{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.logo{
    border-left: 1px solid rgb(207, 207, 207);
    border-right: 1px solid rgb(207, 207, 207);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.mclul > .logo > img{
    filter: grayscale(100%);
    transition: .3s;
}
.mclul > .logo:hover > img{
    filter: grayscale(0%);
}
.rubika{
    height: 100%;
    width: 100%;
}
.eita{
    height: 90%;
    width: 90%;
    mix-blend-mode: color-burn;
}
.soroosh{
    height: 90%;
    width: 100%;
    padding: 0 2px;
}
.instagram{
    height: 90%;
    width: 100%;
    padding: 0 2px;
}
.telegram{
    height: 90%;
    width: 100%;
    padding: 0 2px;
}
.aparat{
    height: 90%;
    width: 100%;
    padding: 0 2px;    
}
.mcrul{
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    list-style-type: none;
    margin: 0%;
    padding: 0;
    cursor: pointer;
}
.mli{
    height: 100%;
    border-left: 1px solid rgb(207, 207, 207);
    display: flex;
    align-items: center;
}
.home{
    border-right: 1px solid rgb(207, 207, 207);
}
.cart{
    padding: 0 5px;
}
.signup{
    padding: 0 5px;
}
.order{
    padding: 0 5px;
}
.tel{
    padding: 0 5px;
}
.icon{
    background-color: white;
}
.mlis{
    width: 270px;
    height: 100%;
    border: 1px solid transparent;
    margin-bottom: 1px;
    padding-left: 10px;
}
.searchicon{
    height: 80%;
}
.homeicon{
    max-height: 100%;
    width: 100%;
    mix-blend-mode: color-burn;    
}
.carticon{
    max-height: 100%;
    width: 100%;
    mix-blend-mode: color-burn;      
}
.signupicon{
    max-height: 100%;
    width: 60%;
    mix-blend-mode: color-burn;
    margin: 0 3px;
}
.ordericon{
    max-height: 100%;
    width: 40%;
    mix-blend-mode: color-burn;    
    margin: 0 3px;
}
.telicon{
    max-height: 100%;
    width: 20%;
    mix-blend-mode: color-burn;    
    margin: 0 3px 0 5px;    
}
.pcart{
    background-color: rgb(19, 200, 255);
    border-radius: 70%;
}
.bottom{
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.bttmcenter{
    position: relative;
    height: 99%;
    display: flex;
    flex-direction: row;
}
.shixon{
    height: 100%;
    padding-top: 5px;
    margin: 0 100px 0 0;
}
.shixonlogo{
    height: 80%;
    cursor: pointer;
}
.bcrul{
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    list-style-type: none;
    color: gray;
}
.btnli{
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    cursor: pointer;
    transition: .3s;
}
.btnli > .submenu{
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    height: 200px;
    padding: 40px 60px 20px 30px;
    color: black;
    left: -10px;
    bottom: -260px;
    border-top: 3px solid purple;
    position: absolute;
    width: 1150px;
    background-color: white;
    visibility: hidden;
    opacity: 0;
}
.submenutitle{
    color: purple;
    font-size: 20px;
    font-weight: 900;
}
.submenudiv > ul > li{
    border-bottom: 2px solid rgb(207, 207, 207);
}
.btnli:hover > .submenu{
    visibility: visible;
    opacity: 1;
}
.btnli > .submenu > .submenudiv{
    align-items: flex-start;
    color: gray;
    flex-grow: 1;
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
}
.btnli > .submenu > div > img{
    width: 200px;
    height: 180px;
}
.btnli > .submenu > .submenudiv > ul{
    width: 150px;
    list-style-type: none;
    display: flex;
    flex-direction: column-reverse;
}
.btnli > .submenu > .submenudiv > ul > li > div{
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 7px solid grey;
    display: inline-block;
}
.btnli > .submenu > .submenudiv > ul > li{
    padding: 5px 0;
}
.submenulist:hover{
    color: red;
    padding-left: 3px;
}
.btnli > .submenu > .submenudiv > ul > li:hover > div{
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 8px solid red
}
.btnli:hover{
    justify-content: center;
    height: 85%;
    color: white;
    background-color: purple;
    border-radius: 5px;
}
.btnli > span{
    margin-top: 10px;
}
.btnli > .triangle{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 6px solid white;
    visibility: hidden;
    opacity: 0;
}
.btnli:hover > .triangle{
    visibility: visible;
    opacity: 1;
}
.rangi{
    color: purple;
}
.bolder{
    font-weight: bolder;
}